<br>
<style>
    #textCommunicationMessageLog {

        width: 400px;
        height: 200px;
        background: lightgrey;

        overflow: scroll;
    }



    .textCommunicationMessage.localTextMessage {
        float: left;
    }

    .textCommunicationMessage.remoteTextMessage {
        float: right;
    }

</style>

<!-- Displays the message conversation between local and remote persons -->
<div data-text-communication-message-log  style="width: 400px;max-height: 251px;background-color: #dee5e8;overflow: auto;" class="well" >

</div>

<div data-text-communication-control-panel>
</div>



